@font-face {
  font-family: "pretendard";
  src: url("../clone_coding/font/Pretendard-Bold.subset.woff2")
    url("../clone_coding/font/Pretendard-Medium.subset.woff2");
}
body,
code {
  font-family: "pretendard", sans-serif;
  color: #1b1e26;
  overflow-x: hidden;
}

@media (min-width: 1280px) {
  :root {
    --font-heading2-size: 3.11rem;
    --font-heading2-line: 3.89rem;
    --font-heading3-size: 2.667rem;
    --font-heading3-line: 4rem;
    --font-heading4-size: 1.556rem;
    --font-heading4-line: 2.33rem;
    --font-article-size: 1.222rem;
    --font-article-line: 1.83rem;
    --font-body1-size: 1rem;
    --font-body1-line: 1.5rem;
    --font-body2-size: 0.889rem;
    --font-body2-line: 1.33rem;
    --font-body3-size: 0.778rem;
    --font-body3-line: 1.17rem;
    --font-hd1-size: 56px;
    --font-hd2-size: 48px;
    --font-hd3-size: 40px;
    --font-hd4-size: 24px;
    --font-hd5-size: 20px;
    --font-hd6-size: 16px;
    --font-bd1-size: 24px;
    --font-bd2-size: 20px;
    --font-bd3-size: 16px;
    --font-caption-size: 15px;
    --font-hd1-line: 68px;
    --font-hd2-line: 58px;
    --font-hd3-line: 54px;
    --font-hd4-line: 34px;
    --font-hd5-line: 28px;
    --font-hd6-line: 24px;
    --font-bd1-line: 34px;
    --font-bd2-line: 28px;
    --font-bd3-line: 24px;
    --font-caption-line: 22px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
time,
figure,
article,
nav,
header,
footer,
hgroup,
video,
audio,
aside,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-break: keep-all;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
#header .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 0 1.333rem;
  max-width: initial;
  height: 56px;
}
@media (min-width: 1280px) {
  #header .inner {
    height: 80px;
  }
}
#header .logo {
  font-size: 0;
}
#header .logo a {
  display: inline-flex;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #1b1e26;
}
legend,
.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  text-indent: -150%;
  white-space: nowrap;
}
img,
fieldset {
  border: 0;
  max-width: 100%;
  vertical-align: top;
}
#header .logo .img_logo {
  width: 80px;
}
#header.scroll .img_logo {
  filter: invert(100%) brightness(0%);
}
@media (min-width: 1280px) {
  #header .logo .img_logo {
    width: 112px;
  }
}
.ellipsis {
  display: block;

  overflow: hidden;
  text-overflow: ellipsis;
}
#header .navigation {
  display: none;
  position: fixed;
  top: 0;
  height: calc(100dvh - 48px);
  right: -100%;
  z-index: 101;
  padding: 117px 0 0;
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.3s;
}
@media (min-width: 1280px) {
  #header .navigation {
    display: flex;
    position: unset;
    height: 100%;
    opacity: 1;
    padding-top: 0;
    width: auto;
    overflow: initial;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
menu,
nav,
section {
  display: block;
}
#header nav {
  min-width: 320px;
  max-height: 100%;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  #header .navigation nav {
    flex: 1;
  }
}
ul,
ol,
dl,
li {
  list-style: none;
}
@media (min-width: 1280px) {
  #header .menu {
    font-size: 0;
  }
}
@media (min-width: 1280px) {
  #header .menu > li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 20px;
  }
}
@media (min-width: 1280px) {
  #header .menu > li:first-child {
    margin-left: 0;
  }
}
#header .menu > li > .link {
  color: #000;
}
#header .menu div.link {
  cursor: pointer;
}
@media (min-width: 1280px) {
  #header .menu > li > .link {
    display: block;
    position: relative;
    padding: 28px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.333rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}
#header.scroll .menu > li > .link {
  color: #000;
}
@media (min-width: 1280px) {
  #header nav .divide {
    padding-left: 30px;
  }
}
#header nav .divide::before {
  content: "";
  display: block;
  height: 1px;
  background: #e6e6e6;
}
@media (min-width: 1280px) {
  #header nav .divide::before {
    position: absolute;
    top: 33px;
    left: 0;
    width: 1px;
    height: 18px;
  }
}
.RMI,
.RMIB,
.RMB,
.RTI,
.RTIB,
.RTB {
  display: none;
}
@media (min-width: 1280px) {
  .RTB,
  .RMB {
    display: none;
  }
}
@media (min-width: 1280px) {
  .RMI,
  .RMIB,
  .RMB,
  .RTI,
  .RTIB,
  .RTB {
    display: none;
  }
}
@media (min-width: 1280px) {
  #header .menu > li.RMB.RTB {
    display: none;
  }
}
@media (min-width: 768px) {
  #header .mPath {
    width: calc(100% - 240px);
  }
}
#header .mPath.hide {
  display: none;
}
#header .login {
  display: none;
}
@media (min-width: 768px) {
  #header .login {
    display: block;
    order: 4;
    position: relative;
    align-items: center;
    gap: 24px;
    z-index: 999;
  }
}
@media (min-width: 1280px) {
  #header .login {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
#header .login .btnLogin {
  display: none;
  font-size: 16px;
}
@media (min-width: 1280px) {
  #header .login .btnLogin {
    display: block;
    padding: 0 16px;
  }
}
#header.scroll .login .btnLogin {
  color: #000;
}
.btnStrong,
.btnNormal,
.btnBasic,
.btnDefault {
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: var(--font-body1-size);
  line-height: var(--font-body1-line);
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btnStrong {
  border-color: var(--brand-color-main);
  color: #fff;
  background: var(--brand-color-main);
  font-weight: bold;
}
.btnNormal {
  border-color: #d1d1d1;
  color: #000;
  background: #fff;
}
@media (min-width: 1280px) {
  .btnStrong,
  .btnNormal,
  .btnBasic,
  .btnDefault {
    padding: 0 2.22rem;
    border-radius: 0.22rem;
    height: 56px;
    line-height: 54px;
  }
}
[class*="btn"].gSmall {
  height: 40px;
  line-height: 40px;
}
#header .btnStrong {
  display: none;
}
@media (min-width: 768px) {
  #header .btnStrong {
    display: block;
  }
}
#header .login .btnStrong {
  display: flex;
  border-radius: 100px;
  border: 1px solid #000;
  font-size: 16px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: #000;
}
#header.scroll .btnStrong {
  color: #fff;
}
#header .login .button {
  display: none;
}
@media (min-width: 1280px) {
  #header .login .button {
    display: inline-block;
  }
}
button {
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  cursor: pointer;

  background: transparent;
}
@media (min-width: 1280px) {
  #header .login .button .btnWaffle {
    margin-left: 8px;
    background: url(https://img.echosting.cafe24.com/ec/shop_kr/v2/common/ico_waffle.svg)
      no-repeat center center / 32px;
    width: 32px;
    height: 32px;
    text-indent: -999px;
    overflow: hidden;
  }
}
#header .login .button {
  display: none;
}
@media (min-width: 1280px) {
  #header .login .button {
    display: inline-block;
  }
}
#header .btnFold span,
#header .btnFold span:after,
#header .btnFold span:before {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
}
#header .btnFold span {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#header.scroll .btnFold span,
#header.scroll .btnFold span:after,
#header.scroll .btnFold span:before {
  background: #000;
}
#header .btnFold {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: auto;
  text-indent: -9999px;
}
@media (min-width: 1280px) {
  #header .btnFold {
    display: none;
  }
}
#header .btnFold span,
#header .btnFold span:after,
#header .btnFold span:before {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
}
#header .btnFold span:after,
#header .btnFold span:before {
  content: "";
  left: 0;
  transition: transform 0.3s;
}
#header .btnFold span:before {
  transform: translateY(-8px);
}
#header.scroll .btnFold span,
#header.scroll .btnFold span:after,
#header.scroll .btnFold span:before {
  background: #000;
}
#header .btnFold span,
#header .btnFold span:after,
#header .btnFold span:before {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
}
#header .btnFold span:after,
#header .btnFold span:before {
  content: "";
  left: 0;
  transition: transform 0.3s;
}
#header .btnFold span:after {
  transform: translateY(8px);
}
#header.scroll .btnFold span,
#header.scroll .btnFold span:after,
#header.scroll .btnFold span:before {
  background: #000;
}
#container {
  margin-top: -56px;
}
@media (min-width: 1280px) {
  #container {
    margin-top: -80px;
  }
}
#contents > section:not(.mDirect) {
  position: relative;
  z-index: 2;
  padding: 3.56rem 0;
}
#contents > section.main-visual {
  padding: 0;
  margin-top: 80px;
}
@media (min-width: 1280px) {
  #contents > section:not(.mDirect) {
    padding: 8.89rem 0;
  }
}
@media (min-width: 1280px) {
  #contents > section.main-visual {
    padding: 0;
    margin-top: 80px;
  }
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.main-visual .swiper-container {
  margin: 0 24px;
  padding-bottom: 32px;
}
@media (min-width: 1280px) {
  .main-visual .swiper-container {
    margin: 0 20px;
    padding-bottom: 28px;
  }
}
.swiper-wrapper {
  position: relative;
  width: 3450px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.main-matching {
  text-align: center;
}
.inner {
  padding: 0 1.333rem;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .inner {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
section .inner {
  max-width: 1390px;
}
section h3 {
  font-size: var(--font-heading3-size);
  line-height: var(--font-heading3-line);
}
section h3 + p {
  display: block;
  font-size: var(--font-article-size);
  line-height: var(--font-article-line);
}
.main-matching h3 + p {
  margin-top: 16px;
}
@media (min-width: 1280px) {
  .main-matching h3 + p {
    margin-top: 16px;
  }
}
.main-matching ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 23px;
}
@media (min-width: 1280px) {
  .main-matching ul {
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    margin-top: 41px;
  }
}
.main-matching ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 24px;
  height: 100%;
  text-align: center;
  font-size: var(--font-hd4-size);
  line-height: var(--font-hd4-line);
  font-weight: 700;
  color: #1c1c1c;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease;
}
@media (min-width: 1280px) {
  .main-matching ul a {
    gap: 24px;
    padding: 10px 20px;
  }
}

.main-matching ul a img {
  width: 46px;
}

@media (min-width: 1280px) {
  .main-matching ul a img {
    width: 48px;
  }
}

#header {
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: all 0.3s;
  box-sizing: border-box;
}

#header.scroll {
  border-bottom: 1px solid #c4c4c4;
  backdrop-filter: blur(16px);

  background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 1280px) {
  #contents > section.main-skin {
    padding: 0;
  }
}

element.style {
  background-color: #fff9f2;
}

.main-skin .contents-slides {
  overflow: hidden;
  width: 50%;
  z-index: 2;
  position: relative;
}

.main-skin .slide-bg {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}

.main-skin .contents-slides .swiper-slide {
  display: flex;
  align-items: center;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.main-skin .contents-slides .sec-device {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 782px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.main-skin .contents-slides .sec-device .imageWrapper {
  margin: 20px 80px 0;
}
.main-skin .contents-slides .sec-device picture {
  text-align: center;
  display: block;
}
.main-skin .contents-slides .sec-device picture img {
  max-width: 100%;
}
.main-skin .swiper-controller .title {
  display: block;
  margin-bottom: 16px;
  font-size: 22px;
}
@media (min-width: 768px) {
  .main-skin .swiper-controller .title {
    display: block;
    margin-bottom: 16px;
    font-size: 22px;
  }
}
.typeWhite.main-skin .txtLink,
.typeWhite.main-skin .swiper-controller .title {
  color: #fff;
}
@media (min-width: 768px) {
  .main-skin.typeWhite .swiper-controller .title {
    color: inherit;
  }
}
.main-skin .swiper-controller .btnNormal,
.main-skin .swiper-controller .btnStrong {
  margin-right: 8px;
}
@media (min-width: 768px) {
  .main-skin .swiper-controller .btnNormal,
  .main-skin .swiper-controller .btnStrong {
    margin-right: 8px;
  }
}
.main-skin .swiper-button-group {
  display: none;
}
@media (min-width: 768px) {
  .main-skin .swiper-button-group {
    display: flex;
  }
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
@media (min-width: 768px) {
  .main-skin .swiper-button-group .swiper-button-next,
  .main-skin .swiper-button-group .swiper-button-prev {
    position: static;
  }
}
@media (min-width: 1280px) {
  .main-skin .swiper-button-group .swiper-button-next,
  .main-skin .swiper-button-group .swiper-button-prev {
    width: 64px;
    height: 64px;
    margin-left: 15px;
  }
}
#contents > section.main-skin {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: flex;
}
.main-skin .swiper-controller {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 64px;
}
@media (min-width: 768px) {
  .main-skin .swiper-controller {
    position: absolute;
    z-index: 10;
    padding-bottom: 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .main-skin .swiper-controller {
    right: 80px;
    left: 80px;
    bottom: 77px;
  }
}
.btnNormal .btnStrong {
  cursor: pointer;
}
.main-skin .rightContents {
  width: 50%;
  box-sizing: border-box;

  flex-direction: column;
  justify-content: center;

  padding: 160px 0;
}
.main-skin .contents-hgroup .contents-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}
.main-skin .contents-hgroup .contents-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-top: 24px;
}
.txtEm,
.txtLink {
  color: var(--brand-color-main);
}
.s .contents-hgroup .txtLink {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .main-skin .contents-hgroup .txtLink {
    margin-top: 40px;
    justify-content: left;
  }
}
.typeWhite.main-skin .contents-hgroup {
  color: #fff;
}
@media (min-width: 1280px) {
  .icoArrow {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 0 0 0.333rem;
  }
}
@media (min-width: 1280px) {
  #contents > section:not(.mDirect) {
    padding: 8.89rem 0;
  }
}
@media (min-width: 1280px) {
  #contents > section.main-skin {
    padding: 0;
  }
}

section.banner-container {
  width: 1500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

div.main-banner {
  display: flex;
  width: 7500px;
  height: 500px;
}

.main-banner div {
  width: 1520px;
  height: 500px;
  display: flex;
}

div.main-banner img {
  width: 100%;
  height: auto;
}

section.container {
  width: 1380px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.buttons.button {
  background-color: #1c1c1c;
}

.point-wrap {
  text-align: center;
}
.main-banner-point {
  background-color: rgba(115, 114, 114, 0.1);
  width: 8px;
  height: 8px;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  margin: 0 4px;
}
.main-hotBrand {
  background: #f4f5f8;
}
@media (min-width: 1280px) {
  #contents > section:not(.mDirect) {
    padding: 8.89rem 0;
  }
}
@media (min-width: 1280px) {
  #contents > section.main-hotBrand {
    min-height: 100vh;
    position: relative;
  }
}
.inner {
  padding: 0 1.333rem;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .inner {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
section .inner {
  max-width: 1149px;
}
@media (min-width: 1280px) {
  .main-hotBrand .inner {
    position: relative;
    display: flex;
    height: 100%;
  }
}
.main-hotBrand .hotBrand-title {
  text-align: center;
}
@media (min-width: 1280px) {
  .main-hotBrand .hotBrand-title {
    width: 24.4rem;
    margin-right: 4.44rem;
    text-align: left;
    flex: none;
  }
}
@media (min-width: 1280px) {
  .main-hotBrand .sticky {
    position: sticky;
    top: 150px;
  }
}
section h3 {
  font-size: var(--font-heading3-size);
  line-height: var(--font-heading3-line);
}
i {
  font-style: italic;
}
i,
em,
address {
  font-style: normal;
}
section h3 .icoEmoji {
  margin: 0 0 0 0.556rem;
}
@media (min-width: 1280px) {
  .RPB.RMB,
  .RPB {
    display: block;
  }
}
.main-hotBrand .hotBrand-title p {
  margin-top: 0.89rem;
}
@media (min-width: 1280px) {
  .main-hotBrand .hotBrand-title p {
    margin-top: 1.78rem;
  }
}
.main-hotBrand .hotBrand-contents {
  flex: 1;
}
@media (min-width: 1280px) {
  .main-hotBrand .hotBrand-contents {
    align-self: auto;
  }
}
.hotBrand-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.22rem;
  margin-bottom: -2.22rem;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .hotBrand-list {
    margin-top: 50px;
    margin-bottom: -0.44rem;
  }
}
.hotBrand-list .hotBrand-item {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .hotBrand-list .hotBrand-item {
    flex-basis: 50%;
  }
}
.hotBrand-list .hotBrand-item a {
  margin: 0 0 2.22rem;
  display: block;
}
@media (min-width: 1280px) {
  .hotBrand-list .hotBrand-item a {
    margin: 0 1.11rem 3.56rem;
    display: block;
  }
}
.hotBrand-list .hotBrand-item .thumb {
  font-size: 0;
  border-radius: 0.889rem;
  overflow: hidden;
}
.main-hotBrand {
  margin: 150px 0 0 0;
}
@media (min-width: 768px) {
  #footer .nav {
    display: flex;
    justify-content: space-between;
  }
}
#footer .nav li {
  flex: 1;
}
@media (min-width: 1280px) {
  #footer .nav {
    order: 1;
    flex: 1;
    max-width: 1120px;
    gap: 32px;
  }
}
#footer .inner {
  position: relative;
  padding: 0;
  max-width: 1440px;
}
@media (min-width: 1280px) {
  #footer .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  #footer .nav {
    display: flex;
    justify-content: space-between;
  }
}
#footer {
  position: relative;
  padding: 32px 24px 24px;
  background-color: #1a1a1a;
}
@media (min-width: 1280px) {
  #footer {
    padding: 62px 24px 0;
  }
}
@media (min-width: 768px) {
  #footer .nav .title {
    color: #fff;
    font-size: 13px;
  }
}
#footer .nav li {
  flex: 1;
}
@media (min-width: 768px) {
  #footer .nav .subMenu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  #footer .nav .subMenu {
    gap: 12px;
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  #footer .nav .subMenu a {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #a6a6a6;
  }
}
#footer .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 0 0;
}
@media (min-width: 1280px) {
  #footer .bottom {
    order: 3;
  }
}
@media (min-width: 1280px) {
  #footer .bottom {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
  }
}
#footer .bottom .info_contents {
  margin: 0 0 1.8rem;
}
#footer .bottom .info_contents,
#footer .bottom .info_contents a {
  color: #a6a6a6;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 1280px) {
  #footer .bottom .info_contents {
    display: inline-block;
    max-width: 1176px;
    order: initial;
  }
}
#footer .bottom .company {
  display: block;
  margin: 0 0 16px;
  font-size: 15px;
}
ul,
ol,
dl,
li {
  list-style: none;
}
@media (min-width: 1280px) {
  #footer .info {
    width: 90%;
  }
}
@media (min-width: 1280px) {
  #footer .info,
  #footer .info a {
    font-size: 0.778rem;
    line-height: 1.333rem;
  }
}
@media (min-width: 1280px) {
  #footer .info dt,
  #footer .info dd {
    display: inline-block;
  }
}
#footer .info dt,
#footer .info dd {
  display: inline-block;
}
#footer .info dd {
  margin: 0 16px 0 0;
}
#footer .sns {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  gap: 16px;
}
#footer .bottom .sns {
  order: 1;
}
@media (min-width: 1280px) {
  #footer .bottom .sns {
    order: initial;
    display: inline-flex;
    align-items: flex-end;
  }
}
#footer .sns a path {
  opacity: 0.7;
}
@media (min-width: 1280px) {
  #footer .bottom .info_copy {
    order: initial;
    display: flex;
    justify-content: space-between;
    padding-top: 1.333rem;
    width: 100%;
  }
}
#footer .bottom .info_copy {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1.333rem;
}
#footer .bottom .policy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 8px;
}
#footer .certify {
  position: absolute;
  top: 73px;
  right: 50px;
}
@media (min-width: 768px) {
  #footer .certify {
    top: 0;
  }
}
#footer .certify a {
  display: inline-block;
  margin: 0 0 0 8px;
}
#footer .certify a,
#footer .sns a:hover path {
  fill: #fff;
  opacity: 1;
}
#footer .certify a img {
  max-width: 44px;
}
#footer .certify a {
  display: inline-block;
  margin: 0 0 0 8px;
}
#footer .certify a,
#footer .sns a:hover path {
  fill: #fff;
  opacity: 1;
}
#footer .copyright {
  display: inline-block;
  margin: 16px 0 0;
  font-size: 12px;
  color: #a6a6a6;
}
@media (min-width: 1280px) {
  #footer .copyright {
    margin-top: 0;
    font-size: 14px;
  }
}
#footer .bottom .policy a {
  color: #a6a6a6;
  font-size: 12px;
}
@media (min-width: 1280px) {
  #footer .bottom .policy a {
    font-size: 14px;
  }
}
#footer .corp {
  display: flex;
  gap: 8px;
  font-size: 0;
  z-index: 1;
}
@media (min-width: 1280px) {
  #footer .corp {
    order: 2;
    flex-direction: column;
    width: 180px;
    transform: translateY(68px);
  }
}
#footer .mDropdown .button::after {
  content: "";
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
  margin: 0 8px;
}
#footer .mDropdown .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 12px 10px 16px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
#footer .mDropdown ul {
  overflow: hidden;
  visibility: hidden;
  z-index: 20;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  display: grid;
  gap: 14px;
  padding: 10px 16px;
  width: 100%;
  min-width: max-content;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background: #1a1a1a;
}
@media (min-width: 1280px) {
  #footer .mDropdown:first-child ul {
    grid-template-columns: 1fr 1fr;
    gap: 10px 16px;
  }
}
element.style {
  bottom: calc(100% + 4px);
  top: auto;
}
@media (min-width: 1280px) {
  #footer .mDropdown ul li {
    min-width: 130px;
  }
}
#footer .mDropdown ul li a {
  display: block;
  color: #a6a6a6;
  font-size: 15px;
  line-height: 24px;
}
@media (min-width: 1280px) {
  #footer .mDropdown ul li a {
    font-size: 16px;
  }
}

.hover-up:hover {
  transition: all 0.3s;
  transform: translateY(-10px);
}
@media (min-width: 1280px) {
  #header .subMenu {
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    gap: 6px;
    padding: 8px;

    width: max-content;
    max-height: 408px;
    min-width: 176px;
    border-radius: 8px;
    border: 1px solid #dadada;
    background: #fff;
    transition: opacity 0.3s ease-out;
    box-sizing: border-box;
    transform: translateY(63px) translateX(-17px);
  }
}
@media (min-width: 1280px) {
  #header .login .button .subMenu {
    right: 0;
    height: auto;
    transform: translateY(43px) translateX(0px);
    max-height: max-content;
  }
}
@media (min-width: 1280px) {
  #header .subMenu .link {
    padding: 8px 12px;
    border-radius: 6px;
    color: #616161;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  #header .subMenu .link[target="_blank"] {
    position: relative;
  }
}
@media (min-width: 1280px) {
  #header .login s.button .subMenu .link {
    display: flex;
  }
}
#header .menu > li > .link:hover,
#header .menu > li.selected > .link {
  font-weight: 700;
}
@media (min-width: 1280px) {
  #header .menu li.hasChild.on .subMenu {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.contents-hgroup {
  top: 150px;
  position: sticky;
}
.left-main {
  background-color: #22d0cacc;
  width: 1000px;
}
.left-container {
  width: 500px;
  height: 500px;
  margin: 150px 0 0 140px;
  overflow: hidden;
}
.film-main {
  display: flex;
  width: 6000px;
  overflow: hidden;
  margin: 100px 0 0 0;
}

.film-main > div {
  width: 500px;
  height: 500px;
}
.film-main > div > img {
  width: 100%;
  height: 100%;
}

.right-container {
  width: 1000px;
  height: 1000px;
  background-color: rgba(62, 53, 237, 0.1);
}
.banner-section {
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: 0;
}
